<div  *ngFor="let product of products | async">
  <h3>{{product.message}}   {{product.id}}<img [src]="product.url" *ngIf="product.url">
  </h3>
</div>
<form [formGroup]="productFormGroup" (ngSubmit)="addProduct()">

  <label>
    Name
    <input type="text" formControlName="message">
  </label>

  <input type="file" (change)="uploadFile($event)" accept="image/*">

  <button type="submit">Add</button>
</form>
<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  format="png"
  (imageCropped)="imageCropped($event)"
></image-cropper>
